.intro-title {
	background-color: darkslategray;
	color: lightgray;
	padding: 20px 0;
}

.intro-load-form {
	margin: 40px auto;
}

#intro-lsk-load-input {
	padding: 6px 10px;
	margin: 0 10px 20px 10px;
	font-size: 1.2em;
}

.btn-intro-load {
	padding: 6px 10px;
	font-size: 1.2em;
}

.intro-fulfill-item {
	margin: 30px auto;
	font-size: 1.4em;
}

.intro-fulfill-form {
	margin: 30px auto;
}

.intro-fulfill-form input[type='text'] {
	padding: 4px 10px;
	font-size: 1em;
	margin: 10px 0;
	width: 260px;
}

.btn-intro-fulfill {
	padding: 8px 12px;
	margin: 10px auto;
	vertical-align: middle;
	border-style: none;
	font-weight: bold;
	color: darkslategray;
	background-color: lightgray;
}

.btn-intro-fulfill.expand {
	color: white !important;
	background-color: gray !important;
}

.btn-intro-fulfill:hover {
	color: black;
	background-color: silver;
}

.btn-intro-fulfill-send {
	padding: 4px 10px;
	margin: 10px 0 10px 10px;
	font-weight: bold;
	font-size: 1em;
	color: darkslategray;
	background-color: #d3d3d3;
}

.btn-intro-fulfill-send:disabled {
	color: #888;
}

.intro-fulfill-history{
    padding: 10px;
    max-height: 320px;
    max-width: 390px;
    overflow: auto;
    margin: 10px auto;
}

.intro-fulfill-history-item{
    color: darkslategray;
    cursor: default;
    padding: 4px 10px;
    text-align: left;
    width: 360px;
    display: inline-block;
}

.intro-fulfill-history-item:hover{
    color:black;
    background-color: silver;
}

/* for small screen */
@media (max-width: 320px) {
	.sm-align-right-wrap {
		text-align: right;
		margin-right: 10%;
	}
}
