.intro-title {
	background-color: darkslategray;
	color: lightgray;
    padding: 20px 0;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.intro-load-form {
	margin: 40px auto;
}

#intro-lsk-load-input {
	padding: 6px 10px;
	margin: 0 10px 20px 10px;
    /* font-size: 1.2em; */
    border-radius: 6px;
    border-width: 1px;
}

.btn-intro-load {
	padding: 8px 16px;
    /* font-size: 1.2em; */
    border-style: none;
    /* font-weight: bold; */
    color: darkslategray;
    background-color: silver;
    border-radius: 4px;
}

.btn-intro-load[disabled]{
    color: gray;
    background-color: lightgray;;
}

.intro-fulfill-item {
	margin: 20px auto;
    max-width: 480px; /* setting max-width is better than width:500px, fit for both large and small display */
    padding-left: 20px;
    text-align: left;
	font-size: 1.4em;
}

.intro-fulfill-form {
	margin: 20px auto;
}

.intro-fulfill-form input[type='text'] {
	padding: 4px 10px;
	font-size: 1em;
	margin: 10px 0;
    width: 260px;
    border-radius: 4px;
}

.intro-op-dropdown-menu{
    /* border-color: darkgray; */
    box-shadow: 0 2px 8px darkgrey;
}

/* ----- deprecated - replace by react-bootstrap */
.btn-fulfill-op {
	padding: 8px 12px;
    margin: 10px 5px;
    /* min-width: 40px; */
	vertical-align: middle;
	border-style: none;
	/* font-weight: bold; */
	color: darkslategray;
	background-color: lightgray;
}

.btn-fulfill-op.expand {
	color: white !important;
	background-color: gray !important;
}

.btn-fulfill-op:focus{
    outline: none;
}

.btn-fulfill-op:hover {
	color: black;
	background-color: silver;
}

.btn-fulfill-op:last-of-type{
    margin-left: 0;
    margin-right: 0;
}
/* --- */

.btn-fulfill-op-dropdown{
    margin: 10px 0 10px 10px;
}
/* ----- end */

.btn-fulfill-op-container{
    margin: 10px 0 10px 10px;
}

.btn-fulfill-op-add{
    padding-top: 4px;
    padding-bottom: 6px;
    border-color: lightgray;
    border-right: none;
    border: none;
}

.btn-fulfill-op-add + button{
    border-color: lightgray;
    border-left: none;
    border: none;
}

.btn-fulfill-op-add.expand{
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}


.btn-intro-fulfill-send {
	padding: 4px 10px;
	margin: 10px 0 10px 10px;
	/* font-weight: bold; */
	font-size: 1em;
	color: darkslategray;
    /* background-color: #d3d3d3; */
    border-radius: 4px;
}

.btn-intro-fulfill-send:disabled {
	color: #888;
}

.intro-fulfill-history{
    padding: 10px 0;
    max-height: 320px;
    max-width: 400px;
    overflow: auto;
    /* margin: 10px auto; */
    text-align: left;
}

.intro-fulfill-history .btn-intro-common{
    margin-left: 4px;
}

.intro-fulfill-history-item{
    color: darkslategray;
    cursor: default;
    padding: 4px;
    /* width: 360px; */
    display: inline-block;
}

.intro-fulfill-history-item:hover{
    color:black;
    background-color: silver;
}

.btn-intro-common{
    margin: 10px;
    padding: 6px 16px;
	border-style: none;
    /* font-weight: bold; */
    font-size: 0.8em;
	color: darkslategray;
    background-color: lightgray;
    border-radius: 4px;
}

.btn-intro-common:hover{
    color: black;
	background-color: silver;
}

.btn-intro-common:focus{
    outline: none;
}

.btn-intro-common[disabled]{
    color: #888;
    background-color: lightgray !important;
}

.intro-loading-message{
    margin-top: 10px;
    color: lightgray;
}

.message-main-loading{
    font-size: 1.4em;
}

.btn-switch{
    width: 140px;
    font-size: 1em;
    font-weight: normal;
}

#intro-lsk-delete-history-reason{
    padding: 6px 10px;
    margin-top: 10px;
    width: 100%;
}

.intro-next-schedule{
    margin-left: 6px;
    font-weight: normal;
}

/* ----- common */
.no-bg-color{
    background-color: inherit;
}

.dropdown-caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}

.deleted-item{
    color: darkgray;
    text-decoration: line-through;
}


.btn-round{
    margin-top: -4px;
    margin-left: 4px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.minus-sign{
    display: inline-block;
    vertical-align: middle;
    background-color: white;
    width: 18px;
    height: 2px;
    margin-left: -9px;
    margin-top: -17px;
}

/* ----- for small screen */
@media (max-width: 320px) {
	.sm-align-right-wrap {
		text-align: right;
		margin-right: 10%;
	}
}

.sm-align-right-wrap{
    margin-bottom: 10px;
}