.dropdown-item:focus, .dropdown-item:hover {
    background-color: lightgray;
}

#intro-lsk-delete-reason{
    padding: 6px 10px;
    margin-top: 10px;
    width: 100%;
}

.toast-box{
    position: absolute;
    top: 100px;
    right: 20px;
    min-width: 280px;
    background-color: lightgray;
    text-align: left;
    box-shadow: 0 2px 8px darkgrey;
}