.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}
/* ---------------------------------------------------------------- */

/* ----- reset */
* {
	/* width/height include padding, border sizes */
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4;
}

a {
	color: #333;
	text-decoration: none;
}

input[type='number'],
input[type='text'] {
	border-radius: 4px;
	border: slategray 1px solid;
}

button {
	cursor: pointer;
	border-radius: 4px;
	border-style: solid;
	border-width: 1px;
}

button[disabled] {
	cursor: not-allowed;
}

/* ----- app styles */
.todo-board {
	width: 90%;
	min-width: 320px;
	max-width: 960px;
	margin: 0 auto;
}

.app-name {
	padding: 10px;
}

h1,
h2,
h3,
h4,
h5 {
	color: darkslategray;
}

input:disabled{
    color: darkgray !important;
    border-color: darkgray;
    cursor: not-allowed;
}

button:disabled{
    color: darkgray !important;
    cursor: not-allowed;
}


/* ---------------------------------------------------------------- */
